<%= form_for @costume, url: url,  :html => { :class => "form-horizontal costume", :multipart => true } do |f| %>

  <% if @costume.errors.any? %>
    <div id="error_expl" class="panel panel-danger">
      <div class="panel-heading">
        <h3 class="panel-title"><%= pluralize(@costume.errors.count, "error") %> prohibited this costume from being saved:</h3>
      </div>
      <div class="panel-body">
        <ul>
        <% @costume.errors.full_messages.each do |msg| %>
          <li><%= msg %></li>
        <% end %>
        </ul>
      </div>
    </div>
  <% end %>

  <div class="form-group">
    <%= f.label :number, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.text_field :number, :class => 'form-control' %>
    </div>
    <%=f.error_span(:number) %>
  </div>
  <div class="form-group">
    <%= f.label :pic_official, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :pic_official, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pic_official) %>
  </div>
  <div class="form-group">
    <%= f.label :pic_ingame, :class => 'control-label col-lg-2' %>
    <div class="col-lg-10">
      <%= f.file_field :pic_ingame, :class => 'form-control' %>
    </div>
    <%=f.error_span(:pic_ingame) %>
  </div>

  <div class="form-group">
    <div class="col-lg-offset-2 col-lg-10">
      <%= f.submit nil, :class => 'btn btn-primary' %>
      <%= link_to t('.cancel', :default => t("helpers.links.cancel")),
                character_costumes_path(@character), :class => 'btn btn-default' %>
    </div>
  </div>

<% end %>
